@font-face
{
    font-family: "Helvetica Light";
    src:url('fonts/Helvetica-Light.ttf');
}

@font-face
{
    font-family: "Play";
    src:url('fonts/Play.ttf');
}

*
{
    margin: 0;
    padding: 0;
}

body,
.helvetica_font
{
    color: #555;
    font-family: "Helvetica Light";
}

.play_font,
h1, h2, h3, h4, h5, h6
{
    font-family: "Play";
}

.blue_text,
h1, h2, h3, h4, h5, h6
{
    color: #0089AF;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 100;
    text-transform: uppercase;
}

ul, ol
{
    margin: 14px 0;
}

ul
{
    list-style: none;
}

ol li, ul li
{
    margin: 0;
    padding: 0;
}

p, ul li, ol li
{
    font-size: 14px;
    line-height: 22px;
    color: #888;
}

ul li:before
{
    content: "+ ";
}

hr
{
    background-color: #ddd;
    height: 1px;
    border-width: 0;
    width: 90%;
    margin: 40px auto;
}

/*----------------------------------------------------------------------------*/

#wrapper
{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
}

#content
{
    width: 700px;
    margin: 0;
    display: inline-block;
    position: relative;
}

#sidebar
{
    width: 240px;
    box-sizing: border-box;
    min-height: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    overflow: hidden;
}

#sidebar>*
{
    padding: 0 30px;
}

.post_block
{
    margin: 20px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow-x: hidden;
    box-sizing: border-box;
    /*padding-bottom: 30px;*/
}

.post_block:first-child
{
    margin-top:0;
}

.post_block>*
{
    padding: 0 30px;
}

.post_block h1,
#sidebar h1
{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #E6F1F6;
    width: 100%;
    margin-bottom: 20px;
}

.post_block h2
{
    color: #333;
    text-transform: none;
    font-family: "Helvetica Light";
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    width: 100%;
    margin: 25px 0;
}

.post_block .comm_block
{
    color: #333;
    text-transform: none;
    font-family: "Helvetica Light";
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    width: 100%;
    margin: 0;
}

.post_block p
{
    text-align: justify;
    margin: 15px 0;
    color: #333;
}

.post_block h1 .post_info
{
    height: 100%;
    width: 30%;
    min-width: 260px;
    float: right;
    color: #888;
}

.post_block code
{
    border: 1px solid #ddd;
    font-family: Consolas;
    font-size: 13px;
    background-color: #f8f8f8;]
    color: #333;
    padding: 6px 10px;
    margin: 15px 0;
}

.post_info *
{
    font-family: "Helvetica Light";
    text-transform: none;
    float: right;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    line-height: 16px;
    font-size: 12px;
    padding: 0 10px 0 20px;
}

.post_info_comm
{
    width: 20px;
    background-image: url('images/mini/comment.gif');
}

.post_info_date
{
    width: 120px;
    background-image: url('images/mini/calendar.gif');
}

.post_info_votes
{
    width: 20px;
    background-image: url('images/mini/expand_vertical.gif');
}