@font-face
{
    font-family: "Helvetica Light";
    src:url('fonts/Helvetica-Light.ttf');
}

@font-face
{
    font-family: "Play";
    src:url('fonts/Play.ttf');
}

*
{
    margin: 0;
    padding: 0;
    /*background-color: rgba(127,127,127,0.05);*/
}

body,
.helvetica_font
{
    color: #888;
    font-family: "Helvetica Light";
}

.play_font,
h1, h2, h3, h4, h5, h6
{
    font-family: "Play";
}

.blue_text,
h1, h2, h3, h4, h5, h6
{
    color: #0089AF !important;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 100;
    text-transform: uppercase;
}

ul, ol
{
    margin: 14px 0;
}

ul
{
    list-style: none;
}

ol li, ul li
{
    margin: 0;
    padding: 0 0 0 20px;
}

p, ul li, ol li
{
    font-size: 14px;
    line-height: 22px;
    color: #888;
}

ul li:before
{
    content: "+ ";
}

a,
a:visited
{
    color: #0089af;
    text-decoration: none;
}
a:hover
{
    color: #F26C4F;
}

a:active
{
    color: #ddd;
}

.hr
{
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
    border-width: 0;
}
.hrleft
{
    width: 40px;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    border-color: #dddddd transparent transparent transparent;
    margin-top: 1px;
    float: left;
}
.hrright
{
    width: 40px;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 4px 4px;
    border-color: transparent transparent #ddd transparent;
    float: right;
    margin-top: -4px;
}

/*----------------------------------------------------------------------------*/

.wrapper
{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

#content
{
    width: 800px;
    margin: 30px 0 0 0;
}

#sidebar
{
    width: 240px;
    box-sizing: border-box;
    min-height: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    overflow: hidden;
    background-color: white;
}

header
{
    width: 140px;
    /*background-color: rgba(0,0,0,0.05);*/
    position: fixed;
    top: 82px;
    left: 50%;
    margin-left: 360px;
    vertical-align: center;
    padding-bottom: 10px;
    /*box-shadow: 4px 4px 5px rgba(0,0,0,0.1);*/
    
}

header *
{
    box-sizing: content-box;
    vertical-align: center;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

header h1.logo
{
    background-repeat: no-repeat;
    /*background-image: url('images/logo.png');*/
    background-size: 32px 32px;
    background-position: 12px 8px;
    padding: 8px 0 8px 54px;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
    color: #888;
    font-family: "Play";
    -webkit-font-smoothing: subpixel-antialiased;
    width: 140px;
    height: 52px;
    margin-right: 20px;
}

header ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

header li
{
    padding: 0;
}

header ul li:before
{
    content: none;
}

header nav ul li
{
    font-family: "Helvetica Light";
    color: #888;
}

header nav ul li a
{
    height: 32px;
    text-decoration: none;
    line-height: 32px;
    text-align: left;
    color: #888;
    /*text-transform: uppercase;*/
    font-size: 14px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px !important;
}

/*header nav a:last-child
{
    border-bottom: 1px solid #ddd;
}*/

span.stripe
{
    width: 40px;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    margin-right: 20px;
    border-color: #dddddd transparent transparent transparent;
    display: inline-block;
    vertical-align: top;
}

a.orange,
a.orange>span
{
    /*border-top-color: #F26C4F;*/
    border-top-color: #0089af;
}

nav a:visited
{
    color: #888;
}

nav a:hover span.stripe,
nav a:hover
{
    border-top-color: #F26C4F;
    color: #f26c4f;
}

#sidebar>*
{
    padding: 0 30px;
}

.post_block
{
    margin: 20px 0;

    /*width: 100%;*/
    overflow-x: hidden;
    padding-left: 160px;
}

.post_block:first-child
{
    margin-top:0;
}

.post_block>*
{
    /*padding: 0 30px;*/
}

.post_block h1
{
    padding: 0 0 15px 0;
    text-transform: none;
    font-size: 32px;
    color: #888;
    text-align: left;
    padding-left: -20px;
    font-family: "Play";
    /*margin-left: -2px;*/
    -webkit-font-smoothing: subpixel-antialiased;
}

.post_block .post_info
{
    height: 32px;
    display: block;
    width: 100%;
    padding: 0;
    color: #888;
    font-size: 12px;
    font-family: "Helvetica Light";
    text-transform: none;
    line-height: 32px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    left:50%;
    text-align: center;
    /*background-color: red;*/
}

span.triangle
{
    /*background-color: #0089af;*/
    width: 44px;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    margin-right: 20px;
    border-color: #dddddd transparent transparent transparent;
    display: inline-block;
    float: left;

}

span.hright
{
    width: 45px;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 4px 0 0 4px;
    border-color: #ddd transparent;
    vertical-align: top;
    display: block;
    float: right;
}

.post_info *
{
    text-align: left;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    box-sizing: border-box;

    /*border: 1px solid red;*/
    box-sizing: border-box; 
}

.post_info_comm
{
    width: 40px;
    padding: 0 0 0 20px;
    margin-right: 20px;
    background-image: url('images/mini/comment.gif');
}

.post_info_votes
{
    width: 40px;
    padding: 0 0 0 20px;
    margin-right: 20px;
    background-image: url('images/mini/expand_vertical.gif');
}

.post_info_date
{
    width: 120px;
    padding: 0 0 0 20px;
    margin-right: 20px;
    background-image: url('images/mini/calendar.gif');
}

.post_info_tags
{
    width: 200px;
    padding: 0 0 0 20px;
    
    background-image: url('images/mini/tag.gif');
}

.post_block h2
{
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    color: #0089AF;
    font-family: "Play";
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;

    width: 140px;
    margin-left: -160px;
    display: inline;
    text-align: right;
    float: left;
}

.post_block h3
{
    color: #494949;
    text-transform: none;
    font-family: "Play";
    font-size: 14px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;

    width: 140px;
    margin-left: -160px;
    display: inline;
    text-align: right;
    float: left;
}

.post_block .comm_block
{
    color: #333;
    text-transform: none;
    font-family: "Helvetica Light";
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    width: 100%;
    margin: 0;
}

.post_block p,
.post_block ul
{
    text-align: justify;
    color: #888;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

.post_block pre
{
    border: 1px solid #ddd;
    font-family: Consolas;
    font-size: 13px;
    background-color: #f8f8f8;]
    color: #333;
    border-radius: 3px;
    padding: 15px 15px;
    margin: 15px 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}