@font-face {
	font-family: "Helvetica Light";
	src:url('fonts/Helvetica-Light.ttf');
}

@font-face {
	font-family: "Play";
	src:url('fonts/Play.ttf');
}

/*
----------------------------------------------------------------------
----------------------------------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
	color: #888;
	/*background: rgba(0,0,0,0.05);*/
}

body {
	font-family: "Helvetica Light";
	font-size: 14px;
	line-height: 22px;
	font-color: #494949;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	display: table;
	border-spacing: 20px 30px;
}

/*-------------------------------------------*/

h1 {
	font-weight: 100;
	font-size: 36px;
	font-family: "Play";
	display: inline-block;
	/*background: transparent url('logo.png') no-repeat;
	background-size: 40px;
	line-height: 40px;
	padding-left: 50px;*/
}

div#contact {
	margin: 7px 0 0 0;
	vertical-align: top;
	float: right;
}

div#contact a {
	width: 16px;
	height: 16px;
	padding: 0 0 0 15px;
	color: transparent;
	display: inline;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 16px;
	background-position: 0 0;
}

#skype_icon { background-image: url('skype_icon2.png'); }
#linkedin_icon { background-image: url('li_icon2.png'); }
#stackoverflow_icon { background-image: url('so_icon2.png'); }

table#info {
	clear: both;
	border: 1px solid #e0e0e0;
	border-width: 1px 0;
	width: 100%;
	margin-top: 20px;
}

table#info td {
	padding-top: 10px;
	text-align: left;
	line-height: 25px;
}
table#info td:nth-child(2n+0) {
	text-align: right;
}

nav {
	text-align: center;
	margin: 0 auto;
	display: block;
}

nav a, nav a:visited, nav a:active {
	padding:  0 12px 0 7px;
	margin: 0;
	border-spacing: 0;
	/*float: left;*/
	display: inline-block;
	text-transform: lowercase;
	border-right: 1px solid #e0e0e0;
}

nav a:last-child {
	border-right: none;
}

nav a:hover {
	text-decoration: underline;
}

/*-------------------------------------------*/

div.item {
	display: table-row;
}

div#logo, h2, div.details {
	display: table-cell;
}

div#logo {
	
	min-width: 100px;
	min-height: 100px;
	background: transparent url('logo.png') no-repeat;
	background-position: center 55px;
	/*background-color: rgba(255,0,0,0.05);*/
}

header a {
	/*color: #54CCB1;*/
	color: #0089AF;
	text-decoration: none;
}

h2 {
	font-family: "Play";
	font-weight: 100;
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
	color: #0089AF; /*#54CCB1;*/
}

p {
	text-align: justify;
	margin: 0 0 20px 0;
}
p:last-child {
	margin: 0;
}

ul {
	margin: 0;
	margin-top: -5px;
	list-style: none;
}
ul li:before {
	content: "+ ";
}

div.details>* {
	margin-bottom: 15px;
}
div.details>*:last-child {
	margin-bottom: 10px;
}

span {
	color: #282828;
	font-family: "Play";
	display: block;
}
