RewriteEngine on
RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^.*$ index.php [L]

RewriteRule .* index.php [L]
RewriteRule ^$ index.php [L]

#RewriteRule ^[\w_\-]+/\?(.+) index.php?$1 [L]
#RewriteRule ^[\w_\-]+/$ index.php [L]
#RewriteRule ^[\w_\-]+$ index.php [L]
#RewriteRule ^([^/]+)/$ $1.php [L]